@page "/"
@using BlazorDesktopLauncher.Extensions
@using Microsoft.Extensions.Configuration
@namespace BlazorDesktopLauncher.Pages
@inject MainComponentProvider MainComponentProvider
@inject IEnumerable<JsScriptSource> JsScriptSources
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Configuration[nameof(IBlazorDesktopConfiguration.WindowTitle)]</title>
    <base href="~/"/>
</head>
<body>
    <app>
        <component type="MainComponentProvider.MainComponent" render-mode="ServerPrerendered"/>
    </app>

    <script src="_framework/blazor.server.js"></script>
    @foreach (var script in JsScriptSources.SelectMany(jss => jss.ScriptPaths).Distinct())
    {
        <script src=@script></script>
    }
</body>
</html>